{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<h1>Register</h1>

	{{ form_start(registrationForm,
            {'attr' : {'class': "flex flex-col items-center"}}) }}
	{{ form_row(registrationForm.email,{
            label: 'E-mail',
            'attr': {'class': "rounded-md py-2 px-6 block text-sm text-gray-700 dark: text-black my-5"}
        }) }}
	{{ form_row(registrationForm.plainPassword, {
            label: 'Password',
            'attr': {'class': "rounded-md py-2 px-6 block text-sm text-gray-700 dark: text-black my-5"}
        }) }}
	{{ form_row(registrationForm.agreeTerms) }}

	<button type="submit" class="rounded-md my-5 px-6 py-2 bg-violet-500 hover:bg-violet-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300 btn">Register</button>
	{{ form_end(registrationForm) }}
{% endblock %}
